<h1>Tämä on kotisivu</h1>
<p>Tämä on kotisivun staattista sisältöä</p>
<br>
<h2>Dynaaminen sisältö</h2>
<p>Tästä eteenpäin sivun sisältö on dynaamista. Palvelin luo tiedot ja lähettää ne sivulle. Dynaamista dataa varten sivuille sijoitetaan paikkamerkkejä kaksinkertaisissa aaltosulkeissa. Paikkamerkit ovat JSON-objektien avaimia</p>

Ruokana tänään {{weekday}}na on {{{meal}}}. 